* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


.wrap {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    color: #fff;
    background-color: #333;
    font-family: cursive;
}


.choose {
    border-bottom: 3px dotted #ed9907;
    padding: 20px 30px;
    width: 300px;
    height: 60px;
    text-align: left;
    font-family: monospace;
    font-weight: 900;
    font-size: 18px;
    color: #ed9907;
    cursor: pointer;
    margin: 3px;
}

.pizza {
    min-width: 600px;
    height: 600px;
    border: 1px solid #000;
    background-image: url(img/bace.png);
    background-size: cover;
    margin-left: 100px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 0 100px #000;
}

div {
    text-align: center;
}

.choseOpen {
    width: 300px;
    height: auto;
    display: flex;
}



h2 {
    color: #fff;
    font-family: 'Satisfy', cursive;
    border: 1px solid #ed9907;
    padding: 10px;
    background-color: #ed9907;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

p {

    font-family: sans-serif;
    position: relative;

}

.choseOpen {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.row {
    display: flex;
}

.item {
    width: 80px;
    height: 80px;
    border: 1px solid #333;
    margin: 10px;
    border-radius: 5px;
}

.item1 {
    width: 80px;
    height: 80px;
    border: 1px solid #333;
    margin: 10px;
    border-radius: 5px;
}

.feta {
    background-image: url(img/feta.png);
    background-size: cover;

    z-index: 2;
}

.moza {
    background-image: url(img/motza.png);
    background-size: cover;

}

.cheder {
    background-image: url(img/cheder.png);
    background-size: cover;

}

.blu {
    background-image: url(img/blu.png);
    background-size: cover;

}

.parm {
    background-image: url(img/parmezan.png);
    background-size: cover;

}

.chicken {
    background-image: url(img/chicken.png);
    background-size: cover;

}

.bekon {
    background-image: url(img/bekon.png);
    background-size: cover;

}

.shynka {
    background-image: url(img/shunka.png);
    background-size: cover;

}

.paperoni {
    background-image: url(img/paparoni.png);
    background-size: cover;

}

.alfredo {
    background-image: url(img/alfredo.png);
    background-size: cover;

}

.barbequ {
    background-image: url(img/barbequ.png);
    background-size: cover;

}

.chasnyk {
    background-image: url(img/chasnyk.png);
    background-size: cover;

}

.kukurudza {
    background-image: url(img/kukurudza.png);
    background-size: cover;

}

.ananas {
    background-image: url(img/ananas.png);
    background-size: cover;

}

.tomato {
    background-image: url(img/tomato.png);
    background-size: cover;

}

.grub {
    background-image: url(img/grub.png);
    background-size: cover;

}

.shpunat {
    background-image: url(img/shpunat.png);
    background-size: cover;

}

.perets {
    background-image: url(img/perets.png);
    background-size: cover;

}

.total {
    color: #fff;
    min-width: 200px;
    border: 1px solid #00b333;
    background-color: #00b333;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    font-family: monospace;
    font-weight: 900;
    font-size: 16px;
}

.order{
    display: flex;
    flex-direction: column;
}
.tooltip{
    min-width: 150px;
    height: 30px;
    background-color: #000;
    border-radius: 30px;
    font-size: 12px;
    line-height: 30px;
    font-family: monospace;
    font-weight: 900;
}